body,
header,
h1,
h2,
ul {
  margin: 0px;
  padding: 0;
}
body {
  background-image: url("money.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "BIZ UDPGothic", sans-serif;
  font-weight: 400;
}
header {
  display: flex;
  background-color: rgb(85, 100, 91);
  height: 20%;
  width: 100vw;
}

.budget-updating {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 15px;
  width: 100%;
}
main {
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
}

.budget-section {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.budget-section label {
  padding: 8px;
}
.budget-form input {
  padding: 8px;
}
.budget-form select {
  padding: 8px;
}
.budget-input {
  padding: 5px;
}
.budget-submit {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.budget-form label {
  border-radius: 10px 10px 0 0;
}
.budget-form input {
  border-radius: 0 0 10px 10px;
}
.budget-form select {
  border-radius: 0 0 10px 10px;
}
.budget-submit input {
  border-radius: 0 0 10px 10px;
}
.budget-submit label {
  border-radius: 10px 10px 0 0;
}
#budget {
  margin-bottom: 10px;
}

#item,
#how-much,
#category {
  margin-bottom: 10px;
}

.budget-button {
  border: 0;
  background-color: black;
  color: white;
  height: 25px;
  width: 65px;
  border-radius: 30px;
}

.budget-updating h3 {
  /* padding-right: 20px; */
  font-family: "BIZ UDPGothic", sans-serif;
  font-weight: 700;
  /* justify-content: space-evenly; */
}
.header-div {
  flex: 1;
}

.budget-section label {
  font-weight: bold;
  background-color: rgb(85, 100, 91);
}

.budget-form {
  display: flex;
  flex-direction: column;
}

.logo-img {
  width: 20%;
}
.list-of-purchases {
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: #92a19e;
  max-height: 150px;
  /* overflow: scroll; */
}

.list-container {
  margin-top: 20px;
  /* max-height: 150px; */
}

.category-totals {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
  background-color: rgb(85, 100, 91);
  padding-left: 10px;
  border-radius: 20px;
}
.numbers {
  color: white;
}
.category-button {
  border: none;
  background-color: black;
  color: white;
  height: 25px;
  width: 85px;
  border-radius: 30px;
}
.list-of-purchases td {
  text-align: center;
}
.list-of-purchases th {
  padding: 10px;
}
.budget-updating p {
  color: white;
}

.alert-container {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 202, 202, 0.5);
  /* display: none; */
}
.alert {
  border-radius: 10px;
  padding: 10px;
  height: 200px;
  width: 200px;
  background-color: red;
  text-align: center;
  /* padding-left: 15px; */
}

.close-popup {
  background-color: black;
  color: white;
  border-radius: 30px;
}

.delete {
  color: black;
  border: 0;
}
@media only screen and (min-width: 768px) {
  header {
    width: 100vw;
    height: 90px;
    /* justify-content: space-between; */
  }
  .logo-img {
    width: 100px;
  }
  main {
    flex-direction: column;
  }
  .budget-section {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .budget-updating {
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: solid 2px black;
  }
  .category-totals {
    flex-direction: row;
    margin-left: 0;
  }
  .category-button {
    margin-bottom: 10px;
  }
  .category-totals h3 {
    padding: 10px;
  }
}
