body,
header,
h1,
ul {
  margin: 0px;
}
header {
  background-color: rgb(85, 100, 91);
  height: 100px;
}
.logo-img {
  width: 20%;
}
.list-container {
  background-color: #92a19e;
}
.list-of-purchases {
  display: flex;
  justify-content: space-evenly;
}
