body,
header,
h1,
h2,
ul {
  margin: 0px;
  padding: 0;
}

body {
  background-image: url("money.jpeg");
}

main {
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
}

.budget-section {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.budget-submit {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
#budget {
  margin-bottom: 10px;
}

#item,
#how-much,
#category {
  margin-bottom: 10px;
}

.budget-button {
  height: 20px;
  width: 60px;
  border-radius: 30px;
}

.budget-updating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
  background-color: rgb(85, 100, 91);
}

.budget-section label {
  font-weight: bold;
  background-color: rgb(85, 100, 91);
}

.budget-form {
  display: flex;
  flex-direction: column;
}
header {
  background-color: rgb(85, 100, 91);
  height: 20%;
}
.logo-img {
  width: 20%;
}

.list-container {
  margin-top: 20px;
  background-color: #92a19e;
}
.list-of-purchases {
  width: 100%;
}

.category-totals {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
  background-color: rgb(85, 100, 91);
}

.list-of-purchases td {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  main {
    flex-direction: column;
  }
  .budget-section {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .budget-updating {
    margin-top: 10px;
    flex-direction: row;
    border-bottom: solid 2px black;
  }
  .category-totals {
    flex-direction: row;
    margin-left: 0;
  }
  h3 {
    padding: 10px;
  }
}
